*{
	margin:0;
	padding:0;
}
nav{
	background:#000;
	text-align:center;
}
.nav-menu{
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
	position:relative;
	font-size: 0;
}
.nav-menu li{
	display:inline-block;
	position:relative;	
	border-left:1px solid #111010;
	border-right:2px solid #ccc6c6;
}
.nav-menu li:last-child{
	border-right:0;
}
.nav-menu  li a{
	display:inline-block;
	padding:10px;
	color: #fff;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	font-size:16px;
	-webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.nav-menu  li a:hover{
	background:red;
	color: #fff;
}

/*Drop down*/
.nav-menu li > ul
{
	opacity:0;
	visibility:hidden;
	position:absolute;
	top:100%;
	left:0;
	background:#000;
	padding:0;
	height:0px;
	text-align:left;
	transform: translateZ(0);
      transform: translateY(10%);
      transition: all 0.5s ease 0s, visibility 0s linear 0.5s; /* the last value is the transition-delay for visibility */
}

.nav-menu  li:hover > ul{
	visibility:visible;
	opacity:1;
	height:auto;
	transform: translateX(0%);
      transition-delay: 0s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.nav-menu ul li
{
	width:220px
}
.nav-menu ul a
{
	line-height:120%;
	padding:10px 15px;
	background:none;
	display:block;
	color:#fff;
}
.nav-menu ul a:hover{
	background:#fff;
	color:red;
}
.nav-menu ul ul
{
	top:0;
	left:100%;
}
.nav-menu li > ul li{
	border-right:0;
	border-left:0;
	border-bottom:1px solid #fff;
}


.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	/* #menu is the original menu */
	.nav-menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}

